<ul>
  <li>Lifecycle</li>
  <li>Angular change detection strategies</li>
  <li>What happens when you put a function returning new value in input</li>
  <li>DOM manipulation</li>
  <li>Observables</li>
  <li>Using globals like localStorage</li>
  <li>Using window</li>
</ul>


<h2>Mutating part of an object</h2>
<button (click)="mutate($event)">mutate</button>
<button (click)="update()">update</button>
<button (click)="addClass($event)">add class</button>

<h2>Fancy Input setter</h2>
<app-input-test [fancySetter]="mutable.value"></app-input-test>

<!--<app-input-test [data]="mutable"></app-input-test>-->
{{mutable | json}}

<!--{{getData() | json}}-->

<hr />
<app-input-test [data]="mutable"></app-input-test>
<!--<app-input-test [data]="getData()"></app-input-test>-->


<h2>Lifecycle</h2>
<img src="https://angular.io/generated/images/guide/lifecycle-hooks/hooks-in-sequence.png" alt="lifecycle"> 
<br><br>

<button (click)="useChildsMethod()">Use Child's Public method</button>

<app-lifecycle #lifecycle [data]="mutable"></app-lifecycle>